*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.password-generator{
  padding:20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:10px;
  box-shadow: 0px 0px 6px grey;
  background-color: rgba(0, 0, 0, 0.544);
  backdrop-filter: blur(20px);
  /* background-color: rgb(53, 54, 55); */
}
body{
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0nS0wjvSuSTsDplGFqLKdvFDClbqADjc5Xg&usqp=CAU");
  background-repeat: no-repeat;
  background-size: cover;
}
.App{
  padding:10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color:white;
 justify-content: center;
 height:100vh;
}
input{
  padding:5px;
  background-color: transparent;
  border:none;
  border:1px solid white;
  color:white;
}
button{
  padding:5px 10px;
  border: none;
  outline:none;
  background-color: orange;


}
textarea{
  background-color: transparent;
  color:white;
  padding:10px;
  text-align: center;
  border: 1px solid white;
  width: 100%;
}
button:hover{
background-color: rgb(255, 226, 8);
cursor: pointer;
}